@media print {
	section {break-inside: avoid-page;}
}

mark {
	background-color: #ffff68;
}

em {
	font-style: normal;
	font-weight: 600;
}

h2 {
	z-index: 0;
	opacity: .5;
	transform: scale(.75,.55);
	animation: intro 3s linear .25s forwards;
}
@keyframes intro {
	33% {opacity: .1}
	66% {opacity: .66}
	100% {opacity: 1; transform: scale(1);}
}

h2:hover {box-shadow: 1px 1px 3px #666;}

h2::after {
	content: '-';
	position: absolute;
	right: 0.33em;
	bottom: 0.5rem;
}

.comp h3::after {
	content: ' -';
}

.inactive::after, .comp h3.inactive::after {
	content: ' +';
}

h2, .comp h3 {cursor: pointer;}

/*  */

ul {
	list-style-type: "\2B9A";
}

li > ul {
	list-style-type: "\1F8A7";
	font-size: 0.9em;
}

li {
	padding-left: 0.33em;
}

#benevolat li {
	break-inside: avoid-column;
}

/*  */

.deux-col {
	column-count: 2;
}

#gd-photo {display: none;}

#gd-photo img {
	z-index: 1;
}

header > div:nth-child(2) {
	width: fit-content;
}

header > div:nth-child(2) a {
	cursor: text;
	color: #000;
}

header > div:nth-child(2) a:hover {
	color: blue;
}