mark {
	background-color: #ffff68;
}

em {
	font-style: normal;
	font-weight: 600;
}

/*  */

h2 {
	z-index: 0;
	opacity: .5;
	transform: scale(.75,.55);
	animation: intro 3s linear .25s forwards;
}

@keyframes intro {
	33% {opacity: .1}
	66% {opacity: .66}
	100% {opacity: 1; transform: scale(1)}
}

h2:hover {
	box-shadow: 1px 1px 3px #666;
}

h2::after {
	content: '-';
	position: absolute;
	right: 0.33em;
	bottom: 0.5rem;
}

#competences h3::after {
	content: ' -';
}

.titre-inactif::after, #competences h3.titre-inactif::after {
	content: ' +';
}

h2, #competences h3 {
	cursor: pointer;
}

.section-inactive {
    display: none !important;
}

/* En-tête */

header {
	z-index: 1;
}

#coordonnees {
	width: fit-content;
}

#coordonnees a {
	color: #000;
}

#coordonnees a:hover {
	color: #0d6efd;
}

#petite-photo > img {
	width: 200px;
}

#grande-photo {
	display: none;
}

#grande-photo > img {
	width: 400px;
}

/* Listes */

ul {
	list-style-type: "\2B9A";
}

li > ul {
	list-style-type: "\1F8A7";
	font-size: 0.9em;
}

li {
	padding-left: 0.33em;
}

#benevolat li {
	break-inside: avoid-column;
}

/* Grid */

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Animation des sections */

.fade-in {
    animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
    from {opacity:0}
    to {opacity:1}
}

.fade-out {
    animation: fadeOut 500ms linear forwards;
}

@keyframes fadeOut {
    100% {opacity:0}
}

/*  */

@media print {
	section {
		break-inside: avoid-page;
	}
}
